

.content {
    margin-top: 100px;
}

.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-sign input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-sign input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-sign .submit-button {
    margin-top: 10px;
}

.checkbox-div {
    margin-top: 10px;
}

.user_card_div {
    margin: 0px !important;
}
.user_card {
    margin: 0px;
    padding: 10px;
    background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.user_item {
    text-align: center;
}

.user_card .user_avatar, .user_card .user_info {
    display: inline;
}

.weekly_header {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

.weekly_footer {
    border-top: 1px solid #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.team_edit_button {
    margin-right: 20px; 
}

.meeting_header {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

.meeting_footer {
    border-top: 1px solid #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.meeting_header .tag_div a {
    color: #777777
}
