<div class="well">
    <div class="page-header">
        <h3><%= t("markdown_syntax")%></h3>
    </div>
    <div class="col-lg-6">
        <textarea rows="70" cols="40" disabled="true" class="form-control">
    <%= render "markdown_tips/markdown"%>
        </textarea>
    </div>
    <div class="col-lg-6">
        <%= markdown(render "markdown_tips/markdown") %>
    </div>
</div>
